<%include header.ejs %>

<div class = "panel panel-primary">
    <div class = "panel-heading">
        <h3 class="panel-title">Contact Us</h3>
        </div>
        <form method="POST" role="form">
            <div class="panel-body">
                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter your Name" required>
                </div>

                <div class="form-group">
                    <label for="content"> Enter your message</label>
                    <textarea class="form-control" id="body" name="body" placeholder="Write your message" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>
    
        </form>
</div>
<%include footer.ejs %>