ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-family: "Helvetica Neue";
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #003b46;
}

.indent {
    text-align: center;
}

.center {
    text-align: center;
    padding: 18px;
}

.bodyCar {
    /*background-color: tan;*/
    background-image: url("../images/background.jpg");
    background-size: cover;
    font-family: 'Helvetica';
}

#bodyRest {
    background-image: url("../images/background.jpg");
    background-size: cover;
    font-family: 'Helvetica';
}

#paragraph {
    text-align: center;
    color: #000000;
    font-family: 'Helvetica';
    font-size: 15px;
}

#styling {
    text-decoration-style: dashed;
    text-decoration: underline;
    text-align: center;
}
#textDiv {
  float: inherit;
  padding: 3px;
  word-break: break-all;
  word-wrap: break-word;
  align: center;
}

img {
    border-radius: 50%;
    float: left;
}
